*, *::before, *::after {
  box-sizing: border-box;
}
.loading-start:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #f6f6f6;
  z-index: 500;
}
.loading-start:after {
  content: "";
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 501;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border: 10px solid #d8d8d8;
  border-top-color: #f51449;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}